@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@800&family=Lato:wght@300;400&display=swap');

* {
    font-size: 10px;
}

body {
    font-family: "Lato", sans-serif;
    font-size: 1.4rem;
}

a {
    color: #6d6875;
    text-decoration: none;
}

.nav-item {
    padding-left: 2rem;
}

.flashes h4 {
    line-height: 2;
}

/*--------------------------------------------Media Queries*/
@media screen and (min-width: 768px) {
    .card {
        width: 50%;
    }
}