{% extends "base.html" %}
{% block content %}

<h3 class="center-align">Add Podcast</h3>
<form class="col" method="POST" action="">
    <div class="mb-3">
        <label for="formGroupExampleInput"></label>
        <input type="text" class="form-control" id="formGroupExampleInput" placeholder="Name of the Podcast">
    </div>
    <div class="mb-3">
        <label for="formGroupExampleInput2" class="form-label"></label>
        <input type="text" class="form-control" id="formGroupExampleInput2" placeholder="Podcast Description">
    </div>
</form>

{% endblock %}