{% extends "base.html" %}
{% block content %}

<h3 class="text-align-center">Podcast Dashboard</h3>
<div class="container-fluid">

    <div class="row row-cols-3">
        {% for category in categories %}
        <div>
            <div class="card-body">
                <h5 class="card-title">{{ category.category_name}}</h5>
                <a href="{{ url_for('edit_category', category_id=category._id) }}" class="btn btn-primary">Edit</a>
                <a href="{{ url_for('delete_category', category_id=category._id) }}" class="btn btn-danger">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div>
    <h4 class="">Add Category</h4>
    <form class="col" method="POST" action="{{ url_for('add_category') }}">
        <!-- category name -->
        <div class="mb-3">
            <i class="fas fa-pencil-alt prefix"></i>
            <label for="category_name"></label>
            <input type="text" class="validate" id="category_name" name="category_name" minlength="3" maxlength="25" placeholder="Category Name" required>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col">
                <input class="btn btn-primary" type="submit" value="Add Category">
            </div>
        </div>
    </form>
</div>
<!-- channel list -->
<div class="container-fluid">
    <div class="row row-cols-3">
        {% for channel in channels %}
        <div>
            <div class="card-body">
                <h5 class="card-title">{{ channel.channel }}</h5>
                <a href="" class="btn btn-primary">Edit</a>
                <a href="" class="btn btn-danger">Delete</a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
<!-- add channel -->
<div>
    <h4 class="">Add Channel</h4>
    <form class="col" method="POST" action="{{ url_for('add_channel') }}">

        <div class="mb-3">
            <i class="fas fa-pencil-alt prefix"></i>
            <label for="channel"></label>
            <input type="text" class="validate" id="channel" name="channel" minlength="3" maxlength="25" placeholder="Channel Name">
        </div>
        <!-- submt button -->
        <div class="row">
            <div class="col">
                <input class="btn btn-primary" type="submit" value="Add Channel">
            </div>
        </div>
    </form>
</div>

<div class="row row-cols-3">
    {% for service in services %}
    <h5 class="card-title">{{ service.streaming_service }}</h5>
    <a href="" class="btn btn-primary">Edit</a>
    <a href="" class="btn btn-danger">Delete</a>
    {% endfor %}
</div>

<div>
    <h4 class="">Add Streaming Service</h4>
    <form class="col" method="POST" action="{{ url_for('add_service') }}">
        <!-- category name -->
        <div class="mb-3">
            <i class="fas fa-pencil-alt prefix"></i>
            <label for="streaming_service"></label>
            <input type="text" class="validate" id="streaming_service" name="streaming_service" minlength="3" maxlength="25" placeholder="Streaming Service" required>
        </div>
        <!-- submit button -->
        <div class="row">
            <div class="col">
                <input class="btn btn-primary" type="submit" value="Add Service">
            </div>
        </div>
    </form>
</div>

{% endblock %}