{% extends "base.html" %}
{% block content %}
<div>
    <h4 class="text-center">Edit Podcast</h4>
    <form class="col" method="POST" action="{{ url_for('edit_podcast', podcast_id=podcast._id) }}">
        <!-- podcast name -->
        <div class="mb-3">
            <i class="fas fa-pencil-alt prefix"></i>
            <label for="podcast_name"></label>
            <input value="{{ podcast.podcast_name }}" type="text" class="validate" id="podcast_name" name="podcast_name" minlength="5" maxlength="50" placeholder="Podcast" required>
        </div>
        <!-- category -->
        <div class="input-group mb-3">
            <i class="fas fa-folder-open prefix"></i>
            <label for="category_name"></label>
            <select class="form-select validate" id="category_name" name="category_name" required>
                <option value="">Select the Category...</option>
                {% for category in categories %}
                {% if category.category_name == podcast.category_name %}
                <option value="{{ category.category_name }}" selected>{{ category.category_name }}</option>
                {% else %}
                <option value="{{ category.category_name }}">{{ category.category_name }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <!-- description -->
        <div class="mb-3">
            <i class="fas fa-align-left prefix"></i>
            <label for="podcast_description"></label>
            <textarea type="text" class="validate" id="podcast_description" name="podcast_description" placeholder="Podcast Description">
            {{ podcast.podcast_description }}
            </textarea>
        </div>
        <!-- channel -->
        <div class="input-group mb-3">
            <select class="form-select" id="channel" name="channel" required>
                <option value="">Select the Channel...</option>
                {% for channel in channels %}
                {% if channel.channel == podcast.channel %}
                <option value="{{ channel.channel }}" selected>{{ channel.channel }}</option>
                {% else %}
                <option value="{{ channel.channel }}">{{ channel.channel }}</option>
                {% endif %}
                {% endfor %}
            </select>
        </div>
        <!-- cover -->
        <div>
            <i class="fa-solid fa-code"></i>
            <label for="cover"></label>
            <input value="{{ podcast.cover }}" type="text" class="validate" id="cover" name="cover" placeholder="Paste the HTML link to the cover art" required>
        </div>
        <!-- services -->
        <div>
            <h5 class="text-center">Select all the available streaming services</h5>
            <div class="form-check">
                {% for service in services %}
                <input class="form-check-input" type="checkbox" value="{{ service.streaming_service }}" id="streaming_service">
                <option value="">{{ service.streaming_service }}</option>
                {% endfor %}
                <label class="form-check-label" for="streaming_service"></label>
            </div>
        </div>
        <!-- submt button -->
        <div class="row">
            <div class="col">
                <!-- cancel button -->
                <a href="{{ url_for('get_podcasts') }}" class="btn btn-danger">
                    Cancel <i class="fas fa-times-circle right"></i>
                </a>
                <button class="btn btn-primary" type="submit">Confirm Changes
                    <i class="fas fa-edit right"></i>
                </button>
            </div>
        </div>
    </form>
</div>

{% endblock %}