{% extends "base.html" %}
{% block content %}

{% if podcasts|length > 0 %}
<div class="container-fluid">

    <div class="row mt-5">
        {% for podcast in podcasts %}
        <div class="d-flex justify-content-around col card" data-bs-toggle="modal" data-bs-target="#modal-{{ podcast._id }}">
            <div>
                <img src="{{ podcast.cover }}" class="card-img-top" alt="{{ podcast.podcast_name }} cover">
                <div class="card-body">
                    <h4 class="card-title">{{ podcast.podcast_name }}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ podcast.category_name }}</li>
                    <li class="list-group-item">from {{ podcast.channel }}</li>
                    <li class="list-group-item">Available on {{ podcast.streaming_service }}</li>
                </ul>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal-{{ podcast._id }}" tabindex="-1" aria-labelledby="modal-{{ podcast._id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="card-title">{{ podcast.podcast_name }}</h4>
                    </div>
                    <div class="modal-body">
                        <p class="card-text content">{{ podcast.podcast_description }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Added by <em>{{ podcast.added_by }}</em> on {{ podcast.added_on }}</li>
                            <li class="list-group-item">"<em>{{ podcast.comments }}</em>"{{ podcast.comment_by }}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        {% if session.user %}
                        <button class="btn btn-primary btn-sm comment-btn" data-bs-target=“#comment-Modal data-bs-toggle="modal">Add Comment</button>
                        {% endif %}
                        {% if session.user|lower == podcast.added_by|lower %}
                        <a href="{{ url_for('edit_podcast', podcast_id=podcast._id) }}" class="btn btn-primary btn-sm">Edit</a>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <div class="pop-outer" style="display: none;" id=“comment-Modal”>
            <div class="container pop-inner">
                <div class="row align-items-center">
                    <div class="col">
                        <form method="POST" action="{{ url_for('add_comment') }}">
                            <textarea type="text" class="validate text-input" value="comments" id="comments" name="comments" placeholder="Let others know what you think about this podcast..."></textarea>
                            <label for="comments"></label>
                        </form>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="submit">Submit</i>
                        </button>
                        <a href="{{ url_for('get_podcasts') }}" class="btn btn-danger">
                            Cancel</i>
                        </a>
                    </div>

                </div>
            </div>
        </div>


    </div>



</div>
{% else %}
<h3>No Results Found</h3>
{% endif %}
{% endblock %}