{% extends "base.html" %}
{% block content %}

<div row>
    <div col class="col-md-3 ">
        {% for podcast in podcasts %}
        <div class="card front">
            <!-- podcast image -->
            <img src="{{ podcast.cover }}" class="card-img-top" alt="{{ podcast.podcast_name }} cover">
            <div class="card-body">
                <!-- podcast -->
                <h4 class="card-title">{{ podcast.podcast_name }}</h4>
            </div>
            <ul class="list-group list-group-flush">
                <!-- category -->
                <li class="list-group-item">{{ podcast.category_name }}</li>
                <!-- channel -->
                <li class="list-group-item">from {{ podcast.channel }}</li>
                <!-- added by & date added-->
                <li class="list-group-item">Added by <em>{{ podcast.added_by }}</em> on {{ podcast.date_added }}</li>
                <!-- streaming service -->
                <li class="list-group-item">Available on {{ podcast.streaming_service }}</li>
            </ul>
        </div>
        <div class="card back">
            <!-- podcast descrption-->
            <p class="card-text content">{{ podcast.podcast_description }}</p>
            <!-- comments -->
            <li class="list-group-item">"{{ podcast.comments }}"{{ podcast.comment_by }}</li>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}