{% extends "base.html" %}
{% block content %}
<div container>
    <div class="row">
        {% for podcast in podcasts %}
        <div class="card col-md-4" data-bs-toggle="modal" data-bs-target="#modal-{{ podcast._id }}">
            <div>
                <img src="{{ podcast.cover }}" class="card-img-top" alt="{{ podcast.podcast_name }} cover">
                <div class="card-body">
                    <h4 class="card-title">{{ podcast.podcast_name }}</h4>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ podcast.category_name }}</li>
                    <li class="list-group-item">from {{ podcast.channel }}</li>
                    <li class="list-group-item">Available on {{ podcast.streaming_service }}</li>
                </ul>
            </div>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="modal-{{ podcast._id }}" tabindex="-1" aria-labelledby="modal-{{ podcast._id }}" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="card-title">{{ podcast.podcast_name }}</h4>
                    </div>
                    <div class="modal-body">
                        <p class="card-text content">{{ podcast.podcast_description }}</p>
                        <ul class="list-group list-group-flush">
                            <li class="list-group-item">Added by <em>{{ podcast.added_by }}</em> on {{ podcast.date_added }}</li>
                            <li class="list-group-item">"<em>{{ podcast.comments }}</em>"{{ podcast.comment_by }}</li>
                        </ul>
                    </div>
                    <div class="modal-footer">
                        <a href="" class="btn btn-primary btn-sm">Add comment</a>
                        <a href="{{ url_for('edit_podcast', podcast_id=podcast._id) }}" class="btn btn-primary btn-sm">Edit</a>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

{% endblock %}